<div class="container my-4 p-4 bg-light rounded shadow-sm">
  <div class="text-center mb-4">
    <h2 class="text-primary">Training Status Manager</h2>
  </div>

  <div class="row g-4">
    <div class="col-md-6">
      <app-home-connect [hospitals]="hospitals$ | async"
                        [currentStatus]="currentStatus"
                        (onGetStatus)="onGetStatus()"
                        (onUpdateStatus)="onUpdateStatus($event)"
                        (onInitializeRound)="onUpdateStatus(RoundStatus.WAITING_FOR_PARTICPANTS)"
                        (onStartTraining)="onUpdateStatus(RoundStatus.START_TRAINING)">
      </app-home-connect>
    </div>

    <div class="col-md-6">
      <app-home-participants [hospitals]="hospitals$ | async"
                             [hospital]="hospital$ | async"
                             (onJoin)="onJoin()"
                             (onLeave)="onLeave()">
      </app-home-participants>
    </div>
  </div>
</div>