<div>
  <h3>Upload model weights to IPFS</h3>

  <!-- File input field -->
  <input
    type="file"
    class="form-control mt-3"
    (change)="onInputChange($event)"
  />

  <!-- Upload button -->
  <div class="d-flex justify-content-end mt-2">
    <button
      class="btn btn-primary my-2"
      [disabled]="!file"
      (click)="uploadToIPFS()"
    >
      Upload to IPFS
    </button>
  </div>

  <!-- Success message -->
  <div *ngIf="uploadSuccess" class="alert alert-success mt-3">
    {{ statusMessage }}
  </div>

  <!-- Error message -->
  <div *ngIf="!uploadSuccess && statusMessage" class="alert alert-danger mt-3">
    {{ statusMessage }}
  </div>

</div>
