<div class="my-3">
  <span class="fw-bold">Current Status</span>
  <span>:&nbsp;</span>
  <span>{{ currentStatus }}</span>
</div>

<button class="btn btn-secondary my-2"
        (click)="onGetStatusButtonClick()">
  @if(actionInProgress) {
  <app-spinner></app-spinner>
  } @else {
  <span>Get Status</span>
  }
</button>

<div class="my-3">
  <label for="statusSelect"
         class="form-label">Select Status:</label>
  <select id="statusSelect"
          class="form-select"
          [(ngModel)]="selectedStatus">
    <option *ngFor="let status of statusOptions"
            [value]="status.value">
      {{ status.label }}
    </option>
  </select>
</div>

<button class="btn btn-success my-2 me-2"
        (click)="onUpdateStatusButtonClick()">
  @if(actionInProgress) {
  <app-spinner></app-spinner>
  } @else {
  <span>Update Status</span>
  }
</button>

<button class="btn btn-success my-2 me-2"
        [disabled]="!isRoundStatusNone"
        (click)="onInitializeRoundButtonClick()">
  @if(actionInProgress) {
  <app-spinner></app-spinner>
  } @else {
  <span>Initialize round</span>
  }
</button>

<button class="btn btn-success my-2"
        [disabled]="!isStartTrainingButtonEnabled"
        (click)="onStartTrainingButtonClick()">
  @if(actionInProgress) {
  <app-spinner></app-spinner>
  } @else {
  <span>Start training</span>
  }
</button>