<button class="btn btn-primary my-2"
        (click)="onConnectButtonClick()">
  {{ connectButtonLabel }}
</button>

<div class="my-3">
  <span class="fw-bold">Current Status:</span>
  <span>{{ currentStatus }}</span>
</div>

<button class="btn btn-secondary my-2"
        (click)="onGetStatusButtonClick()">
  Get Status
</button>

<div class="my-3">
  <label for="statusSelect"
         class="form-label">Select Status:</label>
  <select id="statusSelect"
          class="form-select"
          [(ngModel)]="selectedStatus">
    <option *ngFor="let status of statusOptions"
            [value]="status.value">
      {{ status.label }}
    </option>
  </select>
</div>

<button class="btn btn-success my-2 me-2"
        (click)="onUpdateStatusButtonClick()">
  Update Status
</button>

<button class="btn btn-success my-2 me-2"
        [disabled]="!isRoundStatusNone"
        (click)="onInitializeRoundButtonClick()">
  Initialize round
</button>

<button class="btn btn-success my-2"
        [disabled]="!isStartTrainingButtonEnabled"
        (click)="onStartTrainingButtonClick()">
  Start training
</button>