<ng-container *ngIf="hospitals?.length; else noParticipants">
  <table class="table table-bordered">
    <thead class="table-primary">
      <tr>
        <th>Participants ({{ totalParticipants() }} / 5)</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let hospital of hospitals">
        <td *ngIf="hasHospitalJoined(hospital)">
          {{ hospital.name }} {{ mapRole(hospital.role) }}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-end">
    <button class="btn btn-primary my-2 me-2"
            [disabled]="hasHospitalJoined(hospital) || actionInProgress"
            (click)="onJoinButtonClick()">
      <ng-container *ngIf="actionInProgress; else joinLabel">
        <app-spinner></app-spinner>
      </ng-container>
      <ng-template #joinLabel>
        <span>Join</span>
      </ng-template>
    </button>

    <button class="btn btn-secondary my-2"
            [disabled]="!hasHospitalJoined(hospital) || actionInProgress"
            (click)="onLeaveButtonClick()">
      <ng-container *ngIf="actionInProgress; else leaveLabel">
        <app-spinner></app-spinner>
      </ng-container>
      <ng-template #leaveLabel>
        <span>Leave</span>
      </ng-template>
    </button>
  </div>
</ng-container>

<ng-template #noParticipants>
  <strong>No participants</strong>
</ng-template>
